body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #403a5a, #2c0e0e);
  font-family: 'cambria', sans-serif;
  color: #e2e0e0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 40px;
  padding: 20px;
}

.photo img {
  width: 250px;
  
  border-radius: 10px;
  
  box-shadow: 0 0 30px rgba(226, 4, 4, 0.6);
  margin-right: 40px;
}

.contenu {
  max-width: 600px;
  
}
h2 span {
  color: #ff4da6;
  
}



.bouttons a {
  display: inline-block;
  padding: 10px 20px;
  background: #dd1f7e;
  color: rgb(238, 238, 238);
  text-decoration: none;
  border-radius: 30px;
  margin: 10px 10px 0 0;
  transition: background 0.3s;
}

.boutons a:hover {
  background: #e2c5d1;
}
